:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --md-2: 0px;
  --md-3: 0px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-size: 18px;
  color: #213547;
  background-color:#eeeeee; 

}
textarea{
  font-size: 1.2rem;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  _place-items: center;
  min-width: 320px;
  _min-height: 100dvh;
}

h1 {
  font-size: 2.4rem;
}
h2, .text-h2 {
  font-size: 2.1rem;
}
h3, .text-h3 {
  font-size: 1.9rem;
}
h5 {
  font-size: 1.7rem;
}
h1, h2, h3, h5, .text-h2, .text-h3{
  margin-block-start: 0.3rem;
  margin-block-end: 0.3rem;
  line-height: 1.1;
}

.text-b{
  font-weight: bold;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  _padding-top: 2rem;
  _padding-bottom: 2rem;
  text-align: center;
  max-width: 100vw;
   overflow: auto;
}



@media (max-resolution: 191dpi) {
/* if desktop devicce*/
}

@media (min-resolution: 192dpi) {
/* if mobile devicce*/
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.ma-1{
  margin: 4px;
}
.my-1{
  margin-top: 4px;
  margin-bottom: 4px;
}
.my-2{
  margin-top: 8px;
  margin-bottom: 8px;
}
.ma-2{
  margin: 8px;
}
.mx-2{
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.mx-4{
  margin-left: 16px;
  margin-right: 16px;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.pa-1{
  padding: 4px;
}
.pa-2{
  padding: 8px;
}
.px-2{
  padding-left: 8px;
  padding-right: 8px;
}

.d-flex{
  display: flex;
  flex-direction: column;
}


/* transitions */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.8s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}


.pagefade-leave-from {
}
.pagefade-leave-active {
  transition: all 0.3s ease;
  position: absolute;
  left: 0px;
  _width: 100%;
  _width: 1200px;
  max-height: calc(90dvh - 84px);
  overflow: hidden;
  opacity: 0.0;
  max-width: 1120px;
}
@media (min-width: 800.00px) {
  .pagefade-leave-active {
    left: 50px;
  }
}
__media (min-width: 1200.00px) {
  .pagefade-leave-active {
    left: 50px;
  }
}

.pagefade-leave-to {
}
.pagefade-enter-from {
  opacity: 0.0;
}
.pagefade-enter-active{
  transition: all 0.4s ease  0.2s;
  max-width: 1120px;
}
.pagefade-enter-to {
  max-width: 1120px;
}



.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}

.col-3{
  display: flex;
  width: 25%;
  flex-wrap: wrap;
}

.col-4{
  display: flex;
  width: 33%;
  flex-wrap: wrap;
}

.col-6{
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}
.col-8{
  display: flex;
  width: 66%;
  flex-wrap: wrap;
}


@media (min-width: 600.00px) {
  :root {
    --md-2: 8px;
    --md-3: 12px;
  }
  .pa-md-2{
    padding: var(--md-2) var(--md-3);
  }
  .ma-md-2{
    margin: var(--md-2) var(--md-3);
  }
}


@media (max-width: 960.00px) {
  .col-md-4{
    display: flex;
    width: 33%;
    flex-wrap: wrap;
  }
  .col-md-6{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
  }
  .col-md-12{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .d-md-none{
    display: none !important;
  }
}

@media (max-width: 600.00px) {
  .col-sm-6{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
  }
  .col-sm-12{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .d-sm-none{
    display: none !important;
  }
}

.col-12{
  display: flex;
  width: 100%;
  flex-wrap: wrap;

}
.space{
  flex-grow: 9;
}

.align-ic{
  align-items: center;
}
.justify-cc{
  justify-content: center;
}
.txt-left{
  text-align: left;
}
.txt-center{
  text-align: center;
}

.txt-primary{
  color: #069 !important;
}
.bg-warn{
  background-color: orange !important;
}
.bg-err{
  background-color: red !important;
}
.bg-secondary{
  background-color: #ccc !important;
}
.bg-positive{
  background-color: #8fb !important;
}


.cursor-p{
  cursor: pointer;
}

.loader{
  height:5px;
  width: 0%;
  background-color: #5c9;
  transition: all 0s;
}
.loading{
  transition: all 2s;
  width: 99%;
}

